#nytg-treeMap-trunk { left: 0.0%; top: 0.0%; width: 100.0%; height: 100.0%; }
#branch-8 { left: 0.0%; top: 0.0%; width: 45.5%; height: 60.0%; }
#leaf-135 { left: 0.0%; top: 0.0%; width: 100.0%; height: 90.1360544217687%; }
#leaf-131 { left: 0.0%; top: 90.1360544217687%; width: 28.3516483516484%; height: 9.86394557823129%; }
#leaf-127 { left: 28.3516483516484%; top: 90.1360544217687%; width: 31.4285714285714%; height: 8.16326530612245%; }
#leaf-118 { left: 59.7802197802198%; top: 90.1360544217687%; width: 16.043956043956%; height: 8.16326530612245%; }
#leaf-121 { left: 75.8241758241758%; top: 90.1360544217687%; width: 7.25274725274725%; height: 8.16326530612245%; }
#leaf-125 { left: 83.0769230769231%; top: 90.1360544217687%; width: 6.81318681318681%; height: 8.16326530612245%; }
#leaf-120 { left: 89.8901098901099%; top: 90.1360544217687%; width: 5.71428571428571%; height: 8.16326530612245%; }
#leaf-126 { left: 95.6043956043956%; top: 90.1360544217687%; width: 4.3956043956044%; height: 8.16326530612245%; }
#leaf-130 { left: 28.3516483516484%; top: 98.2993197278912%; width: 17.1428571428571%; height: 1.70068027210884%; }
#leaf-124 { left: 45.4945054945055%; top: 98.2993197278912%; width: 14.5054945054945%; height: 1.70068027210884%; }
#leaf-119 { left: 60.0%; top: 98.2993197278912%; width: 11.8681318681319%; height: 1.70068027210884%; }
#leaf-139 { left: 71.8681318681319%; top: 98.2993197278912%; width: 11.4285714285714%; height: 1.70068027210884%; }
#leaf-123 { left: 83.2967032967033%; top: 98.2993197278912%; width: 5.71428571428571%; height: 1.70068027210884%; }
#leaf-134 { left: 89.010989010989%; top: 98.2993197278912%; width: 4.17582417582418%; height: 1.70068027210884%; }
#leaf-143 { left: 93.1868131868132%; top: 98.2993197278912%; width: 3.51648351648352%; height: 1.70068027210884%; }
#leaf-137 { left: 96.7032967032967%; top: 98.2993197278912%; width: 2.41758241758242%; height: 1.70068027210884%; }
#leaf-132 { left: 99.1208791208791%; top: 98.2993197278912%; width: 0.879120879120879%; height: 1.70068027210884%; }
#leaf-141 { left: 45.4945054945055%; top: 100.0%; width: 54.5054945054945%; height: 0.0%; }
#leaf-140 { left: 45.4945054945055%; top: 100.0%; width: 54.5054945054945%; height: 0.0%; }
#leaf-144 { left: 45.4945054945055%; top: 100.0%; width: 54.5054945054945%; height: 0.0%; }
#leaf-128 { left: 45.4945054945055%; top: 100.0%; width: 54.5054945054945%; height: 0.0%; }
#leaf-129 { left: 45.4945054945055%; top: 100.0%; width: 54.5054945054945%; height: 0.0%; }
#leaf-138 { left: 45.4945054945055%; top: 100.0%; width: 54.5054945054945%; height: 0.0%; }
#branch-34 { left: 0.0%; top: 60.0%; width: 45.5%; height: 40.0%; }
#leaf-531 { left: 0.0%; top: 0.0%; width: 100.0%; height: 98.9795918367347%; }
#leaf-530 { left: 0.0%; top: 98.9795918367347%; width: 100.0%; height: 1.02040816326531%; }
#branch-5 { left: 45.5%; top: 0.0%; width: 28.6%; height: 52.6530612244898%; }
#leaf-77 { left: 0.0%; top: 0.0%; width: 66.4335664335664%; height: 65.5038759689922%; }
#leaf-76 { left: 0.0%; top: 65.5038759689922%; width: 66.4335664335664%; height: 34.4961240310078%; }
#leaf-78 { left: 66.4335664335664%; top: 0.0%; width: 33.5664335664336%; height: 56.2015503875969%; }
#leaf-79 { left: 66.4335664335664%; top: 56.2015503875969%; width: 25.1748251748252%; height: 43.7984496124031%; }
#leaf-75 { left: 91.6083916083916%; top: 56.2015503875969%; width: 8.39160839160839%; height: 23.2558139534884%; }
#leaf-83 { left: 91.6083916083916%; top: 79.4573643410853%; width: 6.29370629370629%; height: 13.1782945736434%; }
#leaf-80 { left: 91.6083916083916%; top: 92.6356589147287%; width: 6.29370629370629%; height: 7.36434108527132%; }
#leaf-74 { left: 97.9020979020979%; top: 79.4573643410853%; width: 2.0979020979021%; height: 11.2403100775194%; }
#leaf-84 { left: 97.9020979020979%; top: 90.6976744186046%; width: 2.0979020979021%; height: 6.2015503875969%; }
#leaf-88 { left: 97.9020979020979%; top: 96.8992248062015%; width: 2.0979020979021%; height: 3.10077519379845%; }
#leaf-86 { left: 100.0%; top: 90.6976744186046%; width: 0.0%; height: 9.30232558139535%; }
#branch-15 { left: 74.1%; top: 0.0%; width: 25.9%; height: 52.6530612244898%; }
#leaf-279 { left: 0.0%; top: 0.0%; width: 77.6061776061776%; height: 100.0%; }
#leaf-275 { left: 77.6061776061776%; top: 0.0%; width: 22.3938223938224%; height: 59.6899224806201%; }
#leaf-278 { left: 77.6061776061776%; top: 59.6899224806201%; width: 15.0579150579151%; height: 25.968992248062%; }
#leaf-269 { left: 77.6061776061776%; top: 85.6589147286822%; width: 15.0579150579151%; height: 14.3410852713178%; }
#leaf-273 { left: 92.6640926640927%; top: 59.6899224806201%; width: 7.33590733590734%; height: 21.3178294573643%; }
#leaf-274 { left: 92.6640926640927%; top: 81.0077519379845%; width: 6.17760617760618%; height: 10.077519379845%; }
#leaf-280 { left: 92.6640926640927%; top: 91.0852713178295%; width: 6.17760617760618%; height: 8.91472868217054%; }
#leaf-270 { left: 98.8416988416988%; top: 81.0077519379845%; width: 1.15830115830116%; height: 6.97674418604651%; }
#leaf-268 { left: 98.8416988416988%; top: 87.984496124031%; width: 1.15830115830116%; height: 3.10077519379845%; }
#leaf-266 { left: 98.8416988416988%; top: 91.0852713178295%; width: 1.15830115830116%; height: 2.32558139534884%; }
#leaf-264 { left: 98.8416988416988%; top: 93.4108527131783%; width: 1.15830115830116%; height: 2.32558139534884%; }
#leaf-271 { left: 98.8416988416988%; top: 95.7364341085271%; width: 1.15830115830116%; height: 1.55038759689922%; }
#leaf-267 { left: 98.8416988416988%; top: 97.2868217054263%; width: 1.15830115830116%; height: 1.55038759689922%; }
#leaf-263 { left: 98.8416988416988%; top: 98.8372093023256%; width: 1.15830115830116%; height: 1.16279069767442%; }
#branch-3 { left: 45.5%; top: 52.6530612244898%; width: 13.2%; height: 24.8979591836735%; }
#leaf-39 { left: 0.0%; top: 0.0%; width: 100.0%; height: 70.4918032786885%; }
#leaf-38 { left: 0.0%; top: 70.4918032786885%; width: 21.969696969697%; height: 29.5081967213115%; }
#leaf-14 { left: 21.969696969697%; top: 70.4918032786885%; width: 29.5454545454545%; height: 17.2131147540984%; }
#leaf-17 { left: 51.5151515151515%; top: 70.4918032786885%; width: 19.6969696969697%; height: 17.2131147540984%; }
#leaf-44 { left: 71.2121212121212%; top: 70.4918032786885%; width: 17.4242424242424%; height: 17.2131147540984%; }
#leaf-47 { left: 88.6363636363636%; top: 70.4918032786885%; width: 11.3636363636364%; height: 17.2131147540984%; }
#leaf-16 { left: 21.969696969697%; top: 87.7049180327869%; width: 12.1212121212121%; height: 12.2950819672131%; }
#leaf-13 { left: 34.0909090909091%; top: 87.7049180327869%; width: 13.6363636363636%; height: 9.01639344262295%; }
#leaf-31 { left: 47.7272727272727%; top: 87.7049180327869%; width: 11.3636363636364%; height: 9.01639344262295%; }
#leaf-33 { left: 59.0909090909091%; top: 87.7049180327869%; width: 9.84848484848485%; height: 9.01639344262295%; }
#leaf-21 { left: 68.9393939393939%; top: 87.7049180327869%; width: 9.09090909090909%; height: 9.01639344262295%; }
#leaf-15 { left: 78.030303030303%; top: 87.7049180327869%; width: 7.57575757575758%; height: 9.01639344262295%; }
#leaf-7 { left: 85.6060606060606%; top: 87.7049180327869%; width: 6.81818181818182%; height: 9.01639344262295%; }
#leaf-8 { left: 92.4242424242424%; top: 87.7049180327869%; width: 7.57575757575758%; height: 9.01639344262295%; }
#leaf-42 { left: 34.0909090909091%; top: 96.7213114754098%; width: 14.3939393939394%; height: 3.27868852459016%; }
#leaf-32 { left: 48.4848484848485%; top: 96.7213114754098%; width: 14.3939393939394%; height: 2.45901639344262%; }
#leaf-10 { left: 62.8787878787879%; top: 96.7213114754098%; width: 10.6060606060606%; height: 2.45901639344262%; }
#leaf-35 { left: 73.4848484848485%; top: 96.7213114754098%; width: 6.81818181818182%; height: 2.45901639344262%; }
#leaf-30 { left: 80.3030303030303%; top: 96.7213114754098%; width: 6.06060606060606%; height: 2.45901639344262%; }
#leaf-48 { left: 86.3636363636364%; top: 96.7213114754098%; width: 4.54545454545455%; height: 2.45901639344262%; }
#leaf-19 { left: 90.9090909090909%; top: 96.7213114754098%; width: 3.78787878787879%; height: 2.45901639344262%; }
#leaf-43 { left: 94.6969696969697%; top: 96.7213114754098%; width: 3.03030303030303%; height: 2.45901639344262%; }
#leaf-6 { left: 97.7272727272727%; top: 96.7213114754098%; width: 2.27272727272727%; height: 2.45901639344262%; }
#leaf-26 { left: 48.4848484848485%; top: 99.1803278688525%; width: 9.84848484848485%; height: 0.819672131147541%; }
#leaf-11 { left: 58.3333333333333%; top: 99.1803278688525%; width: 9.09090909090909%; height: 0.819672131147541%; }
#leaf-28 { left: 67.4242424242424%; top: 99.1803278688525%; width: 8.33333333333333%; height: 0.819672131147541%; }
#leaf-27 { left: 75.7575757575758%; top: 99.1803278688525%; width: 5.3030303030303%; height: 0.819672131147541%; }
#leaf-25 { left: 81.0606060606061%; top: 99.1803278688525%; width: 4.54545454545455%; height: 0.819672131147541%; }
#leaf-18 { left: 85.6060606060606%; top: 99.1803278688525%; width: 4.54545454545455%; height: 0.819672131147541%; }
#leaf-37 { left: 90.1515151515152%; top: 99.1803278688525%; width: 2.27272727272727%; height: 0.819672131147541%; }
#leaf-34 { left: 92.4242424242424%; top: 99.1803278688525%; width: 1.51515151515152%; height: 0.819672131147541%; }
#leaf-20 { left: 93.9393939393939%; top: 99.1803278688525%; width: 1.51515151515152%; height: 0.819672131147541%; }
#leaf-23 { left: 95.4545454545455%; top: 99.1803278688525%; width: 1.51515151515152%; height: 0.819672131147541%; }
#leaf-24 { left: 96.969696969697%; top: 99.1803278688525%; width: 0.757575757575758%; height: 0.819672131147541%; }
#leaf-40 { left: 97.7272727272727%; top: 99.1803278688525%; width: 2.27272727272727%; height: 0.819672131147541%; }
#leaf-46 { left: 58.3333333333333%; top: 100.0%; width: 41.6666666666667%; height: 0.0%; }
#leaf-45 { left: 58.3333333333333%; top: 100.0%; width: 41.6666666666667%; height: 0.0%; }
#branch-12 { left: 45.5%; top: 77.5510204081633%; width: 13.2%; height: 22.4489795918367%; }
#leaf-218 { left: 0.0%; top: 0.0%; width: 100.0%; height: 89.0909090909091%; }
#leaf-209 { left: 0.0%; top: 89.0909090909091%; width: 66.6666666666667%; height: 10.9090909090909%; }
#leaf-220 { left: 66.6666666666667%; top: 89.0909090909091%; width: 18.1818181818182%; height: 8.18181818181818%; }
#leaf-212 { left: 84.8484848484848%; top: 89.0909090909091%; width: 5.3030303030303%; height: 8.18181818181818%; }
#leaf-205 { left: 90.1515151515152%; top: 89.0909090909091%; width: 5.3030303030303%; height: 8.18181818181818%; }
#leaf-207 { left: 95.4545454545455%; top: 89.0909090909091%; width: 4.54545454545455%; height: 8.18181818181818%; }
#leaf-211 { left: 66.6666666666667%; top: 97.2727272727273%; width: 11.3636363636364%; height: 2.72727272727273%; }
#leaf-216 { left: 78.030303030303%; top: 97.2727272727273%; width: 7.57575757575758%; height: 2.72727272727273%; }
#leaf-208 { left: 85.6060606060606%; top: 97.2727272727273%; width: 6.06060606060606%; height: 2.72727272727273%; }
#leaf-215 { left: 91.6666666666667%; top: 97.2727272727273%; width: 3.78787878787879%; height: 2.72727272727273%; }
#leaf-213 { left: 95.4545454545455%; top: 97.2727272727273%; width: 3.03030303030303%; height: 2.72727272727273%; }
#leaf-221 { left: 98.4848484848485%; top: 97.2727272727273%; width: 1.51515151515152%; height: 2.72727272727273%; }
#leaf-214 { left: 78.030303030303%; top: 100.0%; width: 21.969696969697%; height: 0.0%; }
#branch-17 { left: 58.7%; top: 52.6530612244898%; width: 12.4%; height: 23.6734693877551%; }
#leaf-310 { left: 0.0%; top: 0.0%; width: 94.3548387096774%; height: 56.0344827586207%; }
#leaf-309 { left: 0.0%; top: 56.0344827586207%; width: 94.3548387096774%; height: 43.9655172413793%; }
#leaf-308 { left: 94.3548387096774%; top: 0.0%; width: 5.64516129032258%; height: 97.4137931034483%; }
#leaf-306 { left: 94.3548387096774%; top: 97.4137931034483%; width: 4.83870967741935%; height: 2.58620689655172%; }
#leaf-312 { left: 99.1935483870968%; top: 97.4137931034483%; width: 0.806451612903226%; height: 2.58620689655172%; }
#branch-16 { left: 71.1%; top: 52.6530612244898%; width: 12.2%; height: 23.6734693877551%; }
#leaf-297 { left: 0.0%; top: 0.0%; width: 54.0983606557377%; height: 100.0%; }
#leaf-300 { left: 54.0983606557377%; top: 0.0%; width: 45.9016393442623%; height: 37.9310344827586%; }
#leaf-282 { left: 54.0983606557377%; top: 37.9310344827586%; width: 26.2295081967213%; height: 37.9310344827586%; }
#leaf-299 { left: 54.0983606557377%; top: 75.8620689655172%; width: 26.2295081967213%; height: 24.1379310344828%; }
#leaf-296 { left: 80.327868852459%; top: 37.9310344827586%; width: 19.672131147541%; height: 22.4137931034483%; }
#leaf-303 { left: 80.327868852459%; top: 60.3448275862069%; width: 13.9344262295082%; height: 28.448275862069%; }
#leaf-304 { left: 80.327868852459%; top: 88.7931034482759%; width: 13.9344262295082%; height: 11.2068965517241%; }
#leaf-302 { left: 94.2622950819672%; top: 60.3448275862069%; width: 5.73770491803279%; height: 11.2068965517241%; }
#leaf-298 { left: 94.2622950819672%; top: 71.551724137931%; width: 4.0983606557377%; height: 12.0689655172414%; }
#leaf-287 { left: 94.2622950819672%; top: 83.6206896551724%; width: 4.0983606557377%; height: 6.03448275862069%; }
#leaf-290 { left: 94.2622950819672%; top: 89.6551724137931%; width: 4.0983606557377%; height: 6.03448275862069%; }
#leaf-291 { left: 94.2622950819672%; top: 95.6896551724138%; width: 4.0983606557377%; height: 4.31034482758621%; }
#leaf-285 { left: 98.3606557377049%; top: 71.551724137931%; width: 1.63934426229508%; height: 7.75862068965517%; }
#leaf-301 { left: 98.3606557377049%; top: 79.3103448275862%; width: 1.63934426229508%; height: 7.75862068965517%; }
#leaf-286 { left: 98.3606557377049%; top: 87.0689655172414%; width: 1.63934426229508%; height: 6.89655172413793%; }
#leaf-289 { left: 98.3606557377049%; top: 93.9655172413793%; width: 1.63934426229508%; height: 3.44827586206897%; }
#leaf-293 { left: 98.3606557377049%; top: 97.4137931034483%; width: 1.63934426229508%; height: 1.72413793103448%; }
#leaf-294 { left: 98.3606557377049%; top: 99.1379310344828%; width: 1.63934426229508%; height: 0.862068965517241%; }
#leaf-305 { left: 100.0%; top: 79.3103448275862%; width: 0.0%; height: 20.6896551724138%; }
#leaf-292 { left: 100.0%; top: 79.3103448275862%; width: 0.0%; height: 20.6896551724138%; }
#branch-6 { left: 83.3%; top: 52.6530612244898%; width: 8.8%; height: 23.6734693877551%; }
#leaf-95 { left: 0.0%; top: 0.0%; width: 54.5454545454545%; height: 61.2068965517241%; }
#leaf-93 { left: 0.0%; top: 61.2068965517241%; width: 54.5454545454545%; height: 38.7931034482759%; }
#leaf-103 { left: 54.5454545454545%; top: 0.0%; width: 45.4545454545455%; height: 30.1724137931034%; }
#leaf-99 { left: 54.5454545454545%; top: 30.1724137931034%; width: 27.2727272727273%; height: 50.0%; }
#leaf-96 { left: 54.5454545454545%; top: 80.1724137931034%; width: 27.2727272727273%; height: 19.8275862068966%; }
#leaf-106 { left: 81.8181818181818%; top: 30.1724137931034%; width: 18.1818181818182%; height: 18.9655172413793%; }
#leaf-97 { left: 81.8181818181818%; top: 49.1379310344828%; width: 14.7727272727273%; height: 18.9655172413793%; }
#leaf-98 { left: 81.8181818181818%; top: 68.1034482758621%; width: 14.7727272727273%; height: 13.7931034482759%; }
#leaf-100 { left: 81.8181818181818%; top: 81.8965517241379%; width: 14.7727272727273%; height: 12.9310344827586%; }
#leaf-92 { left: 81.8181818181818%; top: 94.8275862068966%; width: 14.7727272727273%; height: 5.17241379310345%; }
#leaf-94 { left: 96.5909090909091%; top: 49.1379310344828%; width: 3.40909090909091%; height: 20.6896551724138%; }
#leaf-91 { left: 96.5909090909091%; top: 69.8275862068966%; width: 3.40909090909091%; height: 17.2413793103448%; }
#leaf-105 { left: 96.5909090909091%; top: 87.0689655172414%; width: 3.40909090909091%; height: 11.2068965517241%; }
#leaf-104 { left: 96.5909090909091%; top: 98.2758620689655%; width: 3.40909090909091%; height: 1.72413793103448%; }
#branch-28 { left: 92.1%; top: 52.6530612244898%; width: 7.9%; height: 23.6734693877551%; }
#leaf-403 { left: 0.0%; top: 0.0%; width: 100.0%; height: 100.0%; }
#leaf-402 { left: 100.0%; top: 0.0%; width: 0.0%; height: 100.0%; }
#branch-29 { left: 58.7%; top: 76.3265306122449%; width: 11.8%; height: 12.6530612244898%; }
#leaf-443 { left: 0.0%; top: 0.0%; width: 50.0%; height: 56.4516129032258%; }
#leaf-476 { left: 50.0%; top: 0.0%; width: 26.271186440678%; height: 56.4516129032258%; }
#leaf-424 { left: 76.271186440678%; top: 0.0%; width: 23.728813559322%; height: 56.4516129032258%; }
#leaf-452 { left: 0.0%; top: 56.4516129032258%; width: 27.1186440677966%; height: 43.5483870967742%; }
#leaf-499 { left: 27.1186440677966%; top: 56.4516129032258%; width: 47.4576271186441%; height: 19.3548387096774%; }
#leaf-495 { left: 74.5762711864407%; top: 56.4516129032258%; width: 15.2542372881356%; height: 19.3548387096774%; }
#leaf-417 { left: 89.8305084745763%; top: 56.4516129032258%; width: 10.1694915254237%; height: 19.3548387096774%; }
#leaf-505 { left: 27.1186440677966%; top: 75.8064516129032%; width: 13.5593220338983%; height: 12.9032258064516%; }
#leaf-469 { left: 27.1186440677966%; top: 88.7096774193548%; width: 13.5593220338983%; height: 11.2903225806452%; }
#leaf-468 { left: 40.6779661016949%; top: 75.8064516129032%; width: 14.4067796610169%; height: 9.67741935483871%; }
#leaf-409 { left: 55.0847457627119%; top: 75.8064516129032%; width: 11.0169491525424%; height: 9.67741935483871%; }
#leaf-437 { left: 66.1016949152542%; top: 75.8064516129032%; width: 8.47457627118644%; height: 9.67741935483871%; }
#leaf-480 { left: 74.5762711864407%; top: 75.8064516129032%; width: 7.6271186440678%; height: 9.67741935483871%; }
#leaf-418 { left: 82.2033898305085%; top: 75.8064516129032%; width: 6.77966101694915%; height: 9.67741935483871%; }
#leaf-439 { left: 88.9830508474576%; top: 75.8064516129032%; width: 6.77966101694915%; height: 9.67741935483871%; }
#leaf-425 { left: 95.7627118644068%; top: 75.8064516129032%; width: 4.23728813559322%; height: 9.67741935483871%; }
#leaf-464 { left: 40.6779661016949%; top: 85.4838709677419%; width: 7.6271186440678%; height: 8.06451612903226%; }
#leaf-427 { left: 40.6779661016949%; top: 93.5483870967742%; width: 7.6271186440678%; height: 6.45161290322581%; }
#leaf-479 { left: 48.3050847457627%; top: 85.4838709677419%; width: 5.93220338983051%; height: 8.06451612903226%; }
#leaf-449 { left: 54.2372881355932%; top: 85.4838709677419%; width: 5.08474576271187%; height: 8.06451612903226%; }
#leaf-501 { left: 59.3220338983051%; top: 85.4838709677419%; width: 5.08474576271187%; height: 8.06451612903226%; }
#leaf-419 { left: 64.4067796610169%; top: 85.4838709677419%; width: 5.08474576271187%; height: 8.06451612903226%; }
#leaf-496 { left: 69.4915254237288%; top: 85.4838709677419%; width: 5.08474576271187%; height: 8.06451612903226%; }
#leaf-436 { left: 74.5762711864407%; top: 85.4838709677419%; width: 4.23728813559322%; height: 8.06451612903226%; }
#leaf-486 { left: 78.8135593220339%; top: 85.4838709677419%; width: 4.23728813559322%; height: 8.06451612903226%; }
#leaf-475 { left: 83.0508474576271%; top: 85.4838709677419%; width: 4.23728813559322%; height: 8.06451612903226%; }
#leaf-454 { left: 87.2881355932203%; top: 85.4838709677419%; width: 4.23728813559322%; height: 8.06451612903226%; }
#leaf-500 { left: 91.5254237288136%; top: 85.4838709677419%; width: 4.23728813559322%; height: 8.06451612903226%; }
#leaf-433 { left: 95.7627118644068%; top: 85.4838709677419%; width: 4.23728813559322%; height: 8.06451612903226%; }
#leaf-415 { left: 48.3050847457627%; top: 93.5483870967742%; width: 4.23728813559322%; height: 6.45161290322581%; }
#leaf-498 { left: 52.5423728813559%; top: 93.5483870967742%; width: 5.08474576271187%; height: 4.83870967741935%; }
#leaf-447 { left: 57.6271186440678%; top: 93.5483870967742%; width: 5.08474576271187%; height: 4.83870967741935%; }
#leaf-448 { left: 62.7118644067797%; top: 93.5483870967742%; width: 5.08474576271187%; height: 4.83870967741935%; }
#leaf-456 { left: 67.7966101694915%; top: 93.5483870967742%; width: 4.23728813559322%; height: 4.83870967741935%; }
#leaf-416 { left: 72.0338983050847%; top: 93.5483870967742%; width: 4.23728813559322%; height: 4.83870967741935%; }
#leaf-453 { left: 76.271186440678%; top: 93.5483870967742%; width: 3.38983050847458%; height: 4.83870967741935%; }
#leaf-482 { left: 79.6610169491525%; top: 93.5483870967742%; width: 3.38983050847458%; height: 4.83870967741935%; }
#leaf-483 { left: 83.0508474576271%; top: 93.5483870967742%; width: 3.38983050847458%; height: 4.83870967741935%; }
#leaf-412 { left: 86.4406779661017%; top: 93.5483870967742%; width: 3.38983050847458%; height: 4.83870967741935%; }
#leaf-438 { left: 89.8305084745763%; top: 93.5483870967742%; width: 3.38983050847458%; height: 4.83870967741935%; }
#leaf-408 { left: 93.2203389830508%; top: 93.5483870967742%; width: 2.54237288135593%; height: 4.83870967741935%; }
#leaf-428 { left: 95.7627118644068%; top: 93.5483870967742%; width: 4.23728813559322%; height: 4.83870967741935%; }
#leaf-471 { left: 52.5423728813559%; top: 98.3870967741936%; width: 4.23728813559322%; height: 1.61290322580645%; }
#leaf-472 { left: 56.7796610169492%; top: 98.3870967741936%; width: 4.23728813559322%; height: 1.61290322580645%; }
#leaf-431 { left: 61.0169491525424%; top: 98.3870967741936%; width: 3.38983050847458%; height: 1.61290322580645%; }
#leaf-473 { left: 64.4067796610169%; top: 98.3870967741936%; width: 3.38983050847458%; height: 1.61290322580645%; }
#leaf-441 { left: 67.7966101694915%; top: 98.3870967741936%; width: 3.38983050847458%; height: 1.61290322580645%; }
#leaf-503 { left: 71.1864406779661%; top: 98.3870967741936%; width: 3.38983050847458%; height: 1.61290322580645%; }
#leaf-507 { left: 74.5762711864407%; top: 98.3870967741936%; width: 2.54237288135593%; height: 1.61290322580645%; }
#leaf-420 { left: 77.1186440677966%; top: 98.3870967741936%; width: 2.54237288135593%; height: 1.61290322580645%; }
#leaf-430 { left: 79.6610169491525%; top: 98.3870967741936%; width: 1.69491525423729%; height: 1.61290322580645%; }
#leaf-429 { left: 81.3559322033898%; top: 98.3870967741936%; width: 1.69491525423729%; height: 1.61290322580645%; }
#leaf-432 { left: 83.0508474576271%; top: 98.3870967741936%; width: 1.69491525423729%; height: 1.61290322580645%; }
#leaf-451 { left: 84.7457627118644%; top: 98.3870967741936%; width: 1.69491525423729%; height: 1.61290322580645%; }
#leaf-481 { left: 86.4406779661017%; top: 98.3870967741936%; width: 1.69491525423729%; height: 1.61290322580645%; }
#leaf-461 { left: 88.135593220339%; top: 98.3870967741936%; width: 1.69491525423729%; height: 1.61290322580645%; }
#leaf-422 { left: 89.8305084745763%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-450 { left: 90.6779661016949%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-459 { left: 91.5254237288136%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-458 { left: 92.3728813559322%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-421 { left: 93.2203389830508%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-465 { left: 94.0677966101695%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-410 { left: 94.9152542372881%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-423 { left: 95.7627118644068%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-460 { left: 96.6101694915254%; top: 98.3870967741936%; width: 0.847457627118644%; height: 1.61290322580645%; }
#leaf-435 { left: 97.4576271186441%; top: 98.3870967741936%; width: 2.54237288135593%; height: 1.61290322580645%; }
#leaf-414 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-444 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-442 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-406 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-470 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-462 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-477 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-474 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-405 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-489 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-440 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-445 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-491 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-457 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-455 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-508 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-413 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-466 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-446 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-490 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-467 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-463 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-411 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#leaf-493 { left: 56.7796610169492%; top: 100.0%; width: 43.2203389830509%; height: 0.0%; }
#branch-30 { left: 58.7%; top: 88.9795918367347%; width: 11.8%; height: 11.0204081632653%; }
#leaf-520 { left: 0.0%; top: 0.0%; width: 83.0508474576271%; height: 100.0%; }
#leaf-521 { left: 83.0508474576271%; top: 0.0%; width: 16.9491525423729%; height: 100.0%; }
#leaf-513 { left: 0.0%; top: 100.0%; width: 100.0%; height: 0.0%; }
#leaf-519 { left: 0.0%; top: 100.0%; width: 100.0%; height: 0.0%; }
#leaf-514 { left: 0.0%; top: 100.0%; width: 100.0%; height: 0.0%; }
#leaf-515 { left: 0.0%; top: 100.0%; width: 100.0%; height: 0.0%; }
#leaf-516 { left: 0.0%; top: 100.0%; width: 100.0%; height: 0.0%; }
#branch-10 { left: 70.5%; top: 76.3265306122449%; width: 8.6%; height: 13.6734693877551%; }
#leaf-178 { left: 0.0%; top: 0.0%; width: 69.7674418604651%; height: 100.0%; }
#leaf-169 { left: 69.7674418604651%; top: 0.0%; width: 30.2325581395349%; height: 52.2388059701493%; }
#leaf-182 { left: 69.7674418604651%; top: 52.2388059701493%; width: 24.4186046511628%; height: 34.3283582089552%; }
#leaf-174 { left: 69.7674418604651%; top: 86.5671641791045%; width: 24.4186046511628%; height: 13.4328358208955%; }
#leaf-179 { left: 94.1860465116279%; top: 52.2388059701493%; width: 5.81395348837209%; height: 34.3283582089552%; }
#leaf-176 { left: 94.1860465116279%; top: 86.5671641791045%; width: 4.65116279069767%; height: 5.97014925373134%; }
#leaf-175 { left: 94.1860465116279%; top: 92.5373134328358%; width: 4.65116279069767%; height: 4.47761194029851%; }
#leaf-171 { left: 94.1860465116279%; top: 97.0149253731343%; width: 4.65116279069767%; height: 2.98507462686567%; }
#leaf-177 { left: 98.8372093023256%; top: 86.5671641791045%; width: 1.16279069767442%; height: 13.4328358208955%; }
#branch-9 { left: 79.1%; top: 76.3265306122449%; width: 8.2%; height: 13.6734693877551%; }
#leaf-147 { left: 0.0%; top: 0.0%; width: 39.0243902439024%; height: 53.7313432835821%; }
#leaf-158 { left: 0.0%; top: 53.7313432835821%; width: 39.0243902439024%; height: 46.2686567164179%; }
#leaf-151 { left: 39.0243902439024%; top: 0.0%; width: 34.1463414634146%; height: 40.2985074626866%; }
#leaf-153 { left: 73.1707317073171%; top: 0.0%; width: 26.8292682926829%; height: 40.2985074626866%; }
#leaf-157 { left: 39.0243902439024%; top: 40.2985074626866%; width: 25.609756097561%; height: 40.2985074626866%; }
#leaf-160 { left: 39.0243902439024%; top: 80.5970149253731%; width: 25.609756097561%; height: 19.4029850746269%; }
#leaf-159 { left: 64.6341463414634%; top: 40.2985074626866%; width: 12.1951219512195%; height: 26.865671641791%; }
#leaf-166 { left: 76.8292682926829%; top: 40.2985074626866%; width: 12.1951219512195%; height: 26.865671641791%; }
#leaf-161 { left: 89.0243902439024%; top: 40.2985074626866%; width: 10.9756097560976%; height: 26.865671641791%; }
#leaf-154 { left: 64.6341463414634%; top: 67.1641791044776%; width: 17.0731707317073%; height: 17.910447761194%; }
#leaf-149 { left: 64.6341463414634%; top: 85.0746268656716%; width: 17.0731707317073%; height: 14.9253731343284%; }
#leaf-156 { left: 81.7073170731707%; top: 67.1641791044776%; width: 18.2926829268293%; height: 11.9402985074627%; }
#leaf-146 { left: 81.7073170731707%; top: 79.1044776119403%; width: 9.75609756097561%; height: 7.46268656716418%; }
#leaf-150 { left: 81.7073170731707%; top: 86.5671641791045%; width: 9.75609756097561%; height: 7.46268656716418%; }
#leaf-164 { left: 81.7073170731707%; top: 94.0298507462687%; width: 9.75609756097561%; height: 5.97014925373134%; }
#leaf-152 { left: 91.4634146341463%; top: 79.1044776119403%; width: 4.8780487804878%; height: 11.9402985074627%; }
#leaf-165 { left: 96.3414634146341%; top: 79.1044776119403%; width: 3.65853658536585%; height: 11.9402985074627%; }
#leaf-167 { left: 91.4634146341463%; top: 91.044776119403%; width: 4.8780487804878%; height: 8.95522388059701%; }
#leaf-155 { left: 96.3414634146341%; top: 91.044776119403%; width: 3.65853658536585%; height: 7.46268656716418%; }
#leaf-163 { left: 96.3414634146341%; top: 98.5074626865672%; width: 3.65853658536585%; height: 1.49253731343284%; }
#branch-24 { left: 87.3%; top: 76.3265306122449%; width: 6.9%; height: 13.6734693877551%; }
#leaf-353 { left: 0.0%; top: 0.0%; width: 72.463768115942%; height: 52.2388059701493%; }
#leaf-362 { left: 0.0%; top: 52.2388059701493%; width: 72.463768115942%; height: 47.7611940298507%; }
#leaf-350 { left: 72.463768115942%; top: 0.0%; width: 27.536231884058%; height: 53.7313432835821%; }
#leaf-355 { left: 72.463768115942%; top: 53.7313432835821%; width: 24.6376811594203%; height: 35.8208955223881%; }
#leaf-354 { left: 72.463768115942%; top: 89.5522388059701%; width: 24.6376811594203%; height: 10.4477611940298%; }
#leaf-357 { left: 97.1014492753623%; top: 53.7313432835821%; width: 2.89855072463768%; height: 32.8358208955224%; }
#leaf-363 { left: 97.1014492753623%; top: 86.5671641791045%; width: 2.89855072463768%; height: 5.97014925373134%; }
#leaf-358 { left: 97.1014492753623%; top: 92.5373134328358%; width: 2.89855072463768%; height: 4.47761194029851%; }
#leaf-349 { left: 97.1014492753623%; top: 97.0149253731343%; width: 2.89855072463768%; height: 2.98507462686567%; }
#leaf-351 { left: 100.0%; top: 86.5671641791045%; width: 0.0%; height: 13.4328358208955%; }
#branch-11 { left: 94.2%; top: 76.3265306122449%; width: 5.8%; height: 13.6734693877551%; }
#leaf-188 { left: 0.0%; top: 0.0%; width: 63.7931034482759%; height: 35.8208955223881%; }
#leaf-202 { left: 0.0%; top: 35.8208955223881%; width: 63.7931034482759%; height: 34.3283582089552%; }
#leaf-189 { left: 0.0%; top: 70.1492537313433%; width: 63.7931034482759%; height: 29.8507462686567%; }
#leaf-192 { left: 63.7931034482759%; top: 0.0%; width: 36.2068965517241%; height: 31.3432835820896%; }
#leaf-201 { left: 63.7931034482759%; top: 31.3432835820896%; width: 27.5862068965517%; height: 23.8805970149254%; }
#leaf-190 { left: 63.7931034482759%; top: 55.2238805970149%; width: 27.5862068965517%; height: 23.8805970149254%; }
#leaf-187 { left: 63.7931034482759%; top: 79.1044776119403%; width: 27.5862068965517%; height: 20.8955223880597%; }
#leaf-185 { left: 91.3793103448276%; top: 31.3432835820896%; width: 8.62068965517241%; height: 35.8208955223881%; }
#leaf-191 { left: 91.3793103448276%; top: 67.1641791044776%; width: 8.62068965517241%; height: 19.4029850746269%; }
#leaf-198 { left: 91.3793103448276%; top: 86.5671641791045%; width: 8.62068965517241%; height: 10.4477611940298%; }
#leaf-203 { left: 91.3793103448276%; top: 97.0149253731343%; width: 8.62068965517241%; height: 2.98507462686567%; }
#leaf-193 { left: 100.0%; top: 67.1641791044776%; width: 0.0%; height: 32.8358208955224%; }
#leaf-195 { left: 100.0%; top: 67.1641791044776%; width: 0.0%; height: 32.8358208955224%; }
#branch-13 { left: 70.5%; top: 90.0%; width: 7.3%; height: 10.0%; }
#leaf-223 { left: 0.0%; top: 0.0%; width: 53.4246575342466%; height: 85.7142857142857%; }
#leaf-227 { left: 53.4246575342466%; top: 0.0%; width: 46.5753424657534%; height: 85.7142857142857%; }
#leaf-226 { left: 0.0%; top: 85.7142857142857%; width: 72.6027397260274%; height: 14.2857142857143%; }
#leaf-228 { left: 72.6027397260274%; top: 85.7142857142857%; width: 27.3972602739726%; height: 12.2448979591837%; }
#leaf-225 { left: 72.6027397260274%; top: 97.9591836734694%; width: 27.3972602739726%; height: 2.04081632653061%; }
#leaf-230 { left: 100.0%; top: 97.9591836734694%; width: 0.0%; height: 2.04081632653061%; }
#branch-7 { left: 77.8%; top: 90.0%; width: 9.7%; height: 7.14285714285714%; }
#leaf-110 { left: 0.0%; top: 0.0%; width: 38.1443298969072%; height: 100.0%; }
#leaf-112 { left: 38.1443298969072%; top: 0.0%; width: 40.2061855670103%; height: 94.2857142857143%; }
#leaf-111 { left: 78.3505154639175%; top: 0.0%; width: 21.6494845360825%; height: 94.2857142857143%; }
#leaf-116 { left: 38.1443298969072%; top: 94.2857142857143%; width: 39.1752577319588%; height: 5.71428571428571%; }
#leaf-109 { left: 77.319587628866%; top: 94.2857142857143%; width: 10.3092783505155%; height: 5.71428571428571%; }
#leaf-115 { left: 87.6288659793814%; top: 94.2857142857143%; width: 6.18556701030928%; height: 5.71428571428571%; }
#leaf-113 { left: 93.8144329896907%; top: 94.2857142857143%; width: 6.18556701030928%; height: 5.71428571428571%; }
#branch-14 { left: 87.5%; top: 90.0%; width: 5.6%; height: 7.14285714285714%; }
#leaf-241 { left: 0.0%; top: 0.0%; width: 42.8571428571429%; height: 37.1428571428571%; }
#leaf-232 { left: 0.0%; top: 37.1428571428571%; width: 42.8571428571429%; height: 34.2857142857143%; }
#leaf-254 { left: 0.0%; top: 71.4285714285714%; width: 42.8571428571429%; height: 28.5714285714286%; }
#leaf-246 { left: 42.8571428571429%; top: 0.0%; width: 25.0%; height: 37.1428571428571%; }
#leaf-233 { left: 67.8571428571429%; top: 0.0%; width: 16.0714285714286%; height: 37.1428571428571%; }
#leaf-247 { left: 83.9285714285714%; top: 0.0%; width: 16.0714285714286%; height: 37.1428571428571%; }
#leaf-235 { left: 42.8571428571429%; top: 37.1428571428571%; width: 26.7857142857143%; height: 22.8571428571429%; }
#leaf-260 { left: 42.8571428571429%; top: 60.0%; width: 26.7857142857143%; height: 20.0%; }
#leaf-238 { left: 42.8571428571429%; top: 80.0%; width: 26.7857142857143%; height: 20.0%; }
#leaf-258 { left: 69.6428571428571%; top: 37.1428571428571%; width: 12.5%; height: 25.7142857142857%; }
#leaf-253 { left: 82.1428571428571%; top: 37.1428571428571%; width: 8.92857142857143%; height: 25.7142857142857%; }
#leaf-255 { left: 91.0714285714286%; top: 37.1428571428571%; width: 8.92857142857143%; height: 25.7142857142857%; }
#leaf-257 { left: 69.6428571428571%; top: 62.8571428571429%; width: 14.2857142857143%; height: 14.2857142857143%; }
#leaf-259 { left: 69.6428571428571%; top: 77.1428571428572%; width: 14.2857142857143%; height: 14.2857142857143%; }
#leaf-239 { left: 69.6428571428571%; top: 91.4285714285714%; width: 14.2857142857143%; height: 8.57142857142857%; }
#leaf-251 { left: 83.9285714285714%; top: 62.8571428571429%; width: 7.14285714285714%; height: 17.1428571428571%; }
#leaf-245 { left: 91.0714285714286%; top: 62.8571428571429%; width: 5.35714285714286%; height: 17.1428571428571%; }
#leaf-243 { left: 96.4285714285714%; top: 62.8571428571429%; width: 3.57142857142857%; height: 17.1428571428571%; }
#leaf-249 { left: 83.9285714285714%; top: 80.0%; width: 7.14285714285714%; height: 11.4285714285714%; }
#leaf-234 { left: 83.9285714285714%; top: 91.4285714285714%; width: 7.14285714285714%; height: 8.57142857142857%; }
#leaf-248 { left: 91.0714285714286%; top: 80.0%; width: 5.35714285714286%; height: 8.57142857142857%; }
#leaf-240 { left: 96.4285714285714%; top: 80.0%; width: 3.57142857142857%; height: 8.57142857142857%; }
#leaf-244 { left: 91.0714285714286%; top: 88.5714285714286%; width: 5.35714285714286%; height: 5.71428571428571%; }
#leaf-242 { left: 91.0714285714286%; top: 94.2857142857143%; width: 5.35714285714286%; height: 5.71428571428571%; }
#leaf-236 { left: 96.4285714285714%; top: 88.5714285714286%; width: 3.57142857142857%; height: 5.71428571428571%; }
#leaf-256 { left: 96.4285714285714%; top: 94.2857142857143%; width: 1.78571428571429%; height: 5.71428571428571%; }
#leaf-250 { left: 98.2142857142857%; top: 94.2857142857143%; width: 1.78571428571429%; height: 5.71428571428571%; }
#leaf-261 { left: 98.2142857142857%; top: 100.0%; width: 1.78571428571429%; height: 0.0%; }
#branch-20 { left: 93.1%; top: 90.0%; width: 3.6%; height: 7.14285714285714%; }
#leaf-334 { left: 0.0%; top: 0.0%; width: 100.0%; height: 100.0%; }
#branch-4 { left: 96.7%; top: 90.0%; width: 3.3%; height: 7.14285714285714%; }
#leaf-61 { left: 0.0%; top: 0.0%; width: 51.5151515151515%; height: 100.0%; }
#leaf-71 { left: 51.5151515151515%; top: 0.0%; width: 27.2727272727273%; height: 48.5714285714286%; }
#leaf-53 { left: 78.7878787878788%; top: 0.0%; width: 21.2121212121212%; height: 48.5714285714286%; }
#leaf-60 { left: 51.5151515151515%; top: 48.5714285714286%; width: 30.3030303030303%; height: 34.2857142857143%; }
#leaf-58 { left: 51.5151515151515%; top: 82.8571428571429%; width: 30.3030303030303%; height: 17.1428571428571%; }
#leaf-57 { left: 81.8181818181818%; top: 48.5714285714286%; width: 18.1818181818182%; height: 17.1428571428571%; }
#leaf-56 { left: 81.8181818181818%; top: 65.7142857142857%; width: 12.1212121212121%; height: 8.57142857142857%; }
#leaf-52 { left: 81.8181818181818%; top: 74.2857142857143%; width: 12.1212121212121%; height: 8.57142857142857%; }
#leaf-70 { left: 81.8181818181818%; top: 82.8571428571429%; width: 12.1212121212121%; height: 8.57142857142857%; }
#leaf-69 { left: 81.8181818181818%; top: 91.4285714285714%; width: 12.1212121212121%; height: 8.57142857142857%; }
#leaf-55 { left: 93.9393939393939%; top: 65.7142857142857%; width: 6.06060606060606%; height: 14.2857142857143%; }
#leaf-62 { left: 93.9393939393939%; top: 80.0%; width: 6.06060606060606%; height: 8.57142857142857%; }
#leaf-59 { left: 93.9393939393939%; top: 88.5714285714286%; width: 6.06060606060606%; height: 5.71428571428571%; }
#leaf-64 { left: 93.9393939393939%; top: 94.2857142857143%; width: 6.06060606060606%; height: 5.71428571428571%; }
#leaf-67 { left: 93.9393939393939%; top: 100.0%; width: 6.06060606060606%; height: 0.0%; }
#leaf-68 { left: 100.0%; top: 80.0%; width: 0.0%; height: 20.0%; }
#leaf-66 { left: 100.0%; top: 80.0%; width: 0.0%; height: 20.0%; }
#branch-25 { left: 77.8%; top: 97.1428571428571%; width: 6.4%; height: 2.85714285714286%; }
#leaf-366 { left: 0.0%; top: 0.0%; width: 84.375%; height: 92.8571428571429%; }
#leaf-372 { left: 84.375%; top: 0.0%; width: 15.625%; height: 92.8571428571429%; }
#leaf-374 { left: 0.0%; top: 92.8571428571429%; width: 46.875%; height: 7.14285714285714%; }
#leaf-365 { left: 46.875%; top: 92.8571428571429%; width: 17.1875%; height: 7.14285714285714%; }
#leaf-368 { left: 64.0625%; top: 92.8571428571429%; width: 15.625%; height: 7.14285714285714%; }
#leaf-369 { left: 79.6875%; top: 92.8571428571429%; width: 6.25%; height: 7.14285714285714%; }
#leaf-367 { left: 85.9375%; top: 92.8571428571429%; width: 6.25%; height: 7.14285714285714%; }
#leaf-370 { left: 92.1875%; top: 92.8571428571429%; width: 4.6875%; height: 7.14285714285714%; }
#leaf-371 { left: 96.875%; top: 92.8571428571429%; width: 3.125%; height: 7.14285714285714%; }
#leaf-375 { left: 46.875%; top: 100.0%; width: 53.125%; height: 0.0%; }
#leaf-376 { left: 46.875%; top: 100.0%; width: 53.125%; height: 0.0%; }
#leaf-377 { left: 46.875%; top: 100.0%; width: 53.125%; height: 0.0%; }
#branch-31 { left: 84.2%; top: 97.1428571428571%; width: 6.3%; height: 2.44897959183673%; }
#leaf-524 { left: 0.0%; top: 0.0%; width: 96.8253968253968%; height: 100.0%; }
#leaf-523 { left: 96.8253968253968%; top: 0.0%; width: 3.17460317460317%; height: 100.0%; }
#branch-26 { left: 90.5%; top: 97.1428571428571%; width: 4.6%; height: 2.44897959183673%; }
#leaf-384 { left: 0.0%; top: 0.0%; width: 26.0869565217391%; height: 100.0%; }
#leaf-389 { left: 26.0869565217391%; top: 0.0%; width: 23.9130434782609%; height: 75.0%; }
#leaf-378 { left: 50.0%; top: 0.0%; width: 17.3913043478261%; height: 75.0%; }
#leaf-387 { left: 67.3913043478261%; top: 0.0%; width: 17.3913043478261%; height: 75.0%; }
#leaf-382 { left: 84.7826086956522%; top: 0.0%; width: 15.2173913043478%; height: 75.0%; }
#leaf-380 { left: 26.0869565217391%; top: 75.0%; width: 30.4347826086957%; height: 25.0%; }
#leaf-383 { left: 56.5217391304348%; top: 75.0%; width: 13.0434782608696%; height: 25.0%; }
#leaf-386 { left: 69.5652173913043%; top: 75.0%; width: 10.8695652173913%; height: 25.0%; }
#leaf-392 { left: 80.4347826086957%; top: 75.0%; width: 8.69565217391304%; height: 25.0%; }
#leaf-390 { left: 89.1304347826087%; top: 75.0%; width: 4.34782608695652%; height: 25.0%; }
#leaf-381 { left: 93.4782608695652%; top: 75.0%; width: 6.52173913043478%; height: 25.0%; }
#leaf-396 { left: 56.5217391304348%; top: 100.0%; width: 43.4782608695652%; height: 0.0%; }
#leaf-385 { left: 56.5217391304348%; top: 100.0%; width: 43.4782608695652%; height: 0.0%; }
#leaf-379 { left: 56.5217391304348%; top: 100.0%; width: 43.4782608695652%; height: 0.0%; }
#leaf-395 { left: 56.5217391304348%; top: 100.0%; width: 43.4782608695652%; height: 0.0%; }
#leaf-388 { left: 56.5217391304348%; top: 100.0%; width: 43.4782608695652%; height: 0.0%; }
#leaf-397 { left: 56.5217391304348%; top: 100.0%; width: 43.4782608695652%; height: 0.0%; }
#branch-2 { left: 95.1%; top: 97.1428571428571%; width: 4.0%; height: 2.44897959183673%; }
#leaf-3 { left: 0.0%; top: 0.0%; width: 100.0%; height: 100.0%; }
#leaf-4 { left: 100.0%; top: 0.0%; width: 0.0%; height: 100.0%; }
#branch-18 { left: 99.1%; top: 97.1428571428571%; width: 0.9%; height: 2.44897959183673%; }
#leaf-317 { left: 0.0%; top: 0.0%; width: 77.7777777777778%; height: 66.6666666666667%; }
#leaf-314 { left: 0.0%; top: 66.6666666666667%; width: 77.7777777777778%; height: 33.3333333333333%; }
#leaf-315 { left: 77.7777777777778%; top: 0.0%; width: 22.2222222222222%; height: 91.6666666666667%; }
#leaf-316 { left: 77.7777777777778%; top: 91.6666666666667%; width: 22.2222222222222%; height: 8.33333333333333%; }
#branch-21 { left: 84.2%; top: 99.5918367346939%; width: 5.6%; height: 0.408163265306122%; }
#leaf-340 { left: 0.0%; top: 0.0%; width: 94.6428571428571%; height: 100.0%; }
#leaf-337 { left: 94.6428571428571%; top: 0.0%; width: 5.35714285714286%; height: 100.0%; }
#leaf-339 { left: 0.0%; top: 100.0%; width: 100.0%; height: 0.0%; }
#branch-23 { left: 89.8%; top: 99.5918367346939%; width: 4.0%; height: 0.408163265306122%; }
#leaf-342 { left: 0.0%; top: 0.0%; width: 50.0%; height: 100.0%; }
#leaf-344 { left: 50.0%; top: 0.0%; width: 47.5%; height: 100.0%; }
#leaf-348 { left: 97.5%; top: 0.0%; width: 2.5%; height: 100.0%; }
#leaf-345 { left: 50.0%; top: 100.0%; width: 50.0%; height: 0.0%; }
#leaf-347 { left: 50.0%; top: 100.0%; width: 50.0%; height: 0.0%; }
#branch-19 { left: 93.8%; top: 99.5918367346939%; width: 3.5%; height: 0.408163265306122%; }
#leaf-323 { left: 0.0%; top: 0.0%; width: 20.0%; height: 100.0%; }
#leaf-332 { left: 20.0%; top: 0.0%; width: 20.0%; height: 100.0%; }
#leaf-324 { left: 40.0%; top: 0.0%; width: 17.1428571428571%; height: 100.0%; }
#leaf-330 { left: 57.1428571428571%; top: 0.0%; width: 17.1428571428571%; height: 100.0%; }
#leaf-329 { left: 74.2857142857143%; top: 0.0%; width: 11.4285714285714%; height: 100.0%; }
#leaf-327 { left: 85.7142857142857%; top: 0.0%; width: 11.4285714285714%; height: 100.0%; }
#leaf-325 { left: 97.1428571428571%; top: 0.0%; width: 2.85714285714286%; height: 100.0%; }
#leaf-321 { left: 20.0%; top: 100.0%; width: 80.0%; height: 0.0%; }
#leaf-322 { left: 20.0%; top: 100.0%; width: 80.0%; height: 0.0%; }
#leaf-326 { left: 20.0%; top: 100.0%; width: 80.0%; height: 0.0%; }
#leaf-328 { left: 20.0%; top: 100.0%; width: 80.0%; height: 0.0%; }
#leaf-319 { left: 20.0%; top: 100.0%; width: 80.0%; height: 0.0%; }
#leaf-320 { left: 20.0%; top: 100.0%; width: 80.0%; height: 0.0%; }
#branch-27 { left: 97.3%; top: 99.5918367346939%; width: 2.5%; height: 0.408163265306122%; }
#leaf-399 { left: 0.0%; top: 0.0%; width: 100.0%; height: 100.0%; }
#branch-32 { left: 99.8%; top: 99.5918367346939%; width: 0.2%; height: 0.408163265306122%; }
#leaf-526 { left: 0.0%; top: 0.0%; width: 100.0%; height: 100.0%; }
#branch-0 { left: 89.8%; top: 100.0%; width: 10.2%; height: 0.0%; }
#leaf-1 { left: 0.0%; top: 0%; width: 100.0%; height: 0%; }
#branch-1 { left: 89.8%; top: 100.0%; width: 10.2%; height: 0.0%; }
#leaf-2 { left: 0.0%; top: 0%; width: 100.0%; height: 0%; }
#branch-22 { left: 89.8%; top: 100.0%; width: 10.2%; height: 0.0%; }
#leaf-341 { left: 0.0%; top: 0%; width: 100.0%; height: 0%; }
#branch-33 { left: 89.8%; top: 100.0%; width: 10.2%; height: 0.0%; }
